*{
    padding: 0em;
    margin: 0em;
}

body {
    background-color: rgb(11, 11, 11);    
    font-family: Segoe UI, Tahoma, Geneva, Verdana, 'sans-serif';
}

nav,li,a,button {
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
    color: #ffffffe0;
    font-size: 1rem;
}

a:hover{
    color: #6495ed;
}


.Active-Logo {
    height: 11%;
    width: 20%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em ;
    background-color: rgb(30, 30, 30);
}

li {
    display: inline-block;
    text-decoration: none;
    padding: 0.1em;
    margin: 0.1em;
    transition: all 0.3s ease 0s;
}

button {
    padding: 0.5em;
    background-color: rgb(100, 187, 237);
    border: none;
    border-radius: 10%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

button:hover {
    background-color: rgba(100, 149, 237, 0.8); 
}

.wactgym {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Resize-wag {
    height: 32em;
    width: 47em;
}

.textblock1 {
    color: #fff;
}

span {
    color: #6495ed;
}